@model List<Category>
@{
    ViewData["Title"] = "CategoryList";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h3>Category List</h3>
<br />
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Category Name</th>
        <th>Update</th>
        <th>Delete</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.CategoryId</td>
            <td>@item.CategoryName</td>
            <td><a href="/Category/UpdateCategory/@item.CategoryId" class=" btn btn-outline-success">Update</a></td>
            <td><a href="/Category/DeleteCategory/@item.CategoryId" class=" btn btn-outline-danger">Delete</a></td>
        </tr>
    }
</table>
<a href="/Category/CreateCategory/" class="btn btn-outline-primary col-md-12">New Category Entry</a>