@model List<Service>
@{
    ViewData["Title"] = "ServiceList";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h1>My Services</h1>

<table class="table table-bordered">
	<tr>
		<th>#</th>
		<th>Service Title</th>
		<th>Description</th>
		<th>Icon</th>
		<th>Delete</th>
		<th>Update</th>
	</tr>
	@foreach (var item in Model)
	{
		<tr>
			<td>@item.ServiceId</td>
			<td>@item.ServiceTitle</td>
			<td>@item.ServiceDescription</td>
			<td>@item.ServiceIcon</td>
			<td><a href="/Service/DeleteService/@item.ServiceId" class="btn btn-danger">Delete</a></td>
			<td><a href="/Service/UpdateService/@item.ServiceId" class="btn btn-success">Update</a></td>
		</tr>
	}
</table>
<a href="/Service/CreateService/" class="btn btn-primary">New Service Entry</a>
