@model About


@{
    ViewData["Title"] = "CreateAbout";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h3>About Me Add Page</h3>
<br />

<form method="post" asp-action="CreateAbout" asp-controller="About" enctype="multipart/form-data">

    <label>Description</label>
    <input type="text" class="form-control" asp-for="AboutDescription" style="border:1px solid grey; " />
    <br />
    <label>JobTitle</label>
    <input type="text" class="form-control" asp-for="JobTitle" style="border:1px solid grey;" />
    <br />
    <label>Select Image</label>
    <input type="file" class="form-control" name="file" style="border:1px solid grey;" />
    <br />
    <br />
    <label>BirthDate</label>
    <input type="text" class="form-control" asp-for="BirthDate" style="border:1px solid grey;" />
    <br />
    <label>Email</label>
    <input type="text" class="form-control" asp-for="Email" style="border:1px solid grey;" />
    <br />
    <label>Phone Number</label>
    <input type="text" class="form-control" asp-for="Phone" style="border:1px solid grey;" />
    <br />
    <label>City</label>
    <input type="text" class="form-control" asp-for="City" style="border:1px solid grey;" />
    <br />
    <label>Age</label>
    <input type="text" class="form-control" asp-for="Age" style="border:1px solid grey; " />
    <br />
    <br />
    <label>Degree</label>
    <input type="text" class="form-control" asp-for="Degree" style="border:1px solid grey;" />
    <br />

    <button class="btn btn-outline-primary col-md-12" type="submit">Save</button>
</form>